html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1.5fr 11fr;
  grid-template-areas:
    "navbar navbar"
    "sidebar map";
}

.navbar {
  grid-area: navbar;
}

.sidebar {
  grid-area: sidebar;
  width: 100%;
  height: 100%;
}

.map {
  grid-area: map;
  width: 100%;
  height: 100%;
}
